/* GLOBAL */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  flex-direction: column;
  display: flex;
  height: 100vh;
}

body {
  background-color: black;
}

/* STYLE */

.btn {
  background-color: #4a4a4a;
  padding: 5px 10px;
  border-radius: 5px;
}

i {
  color: white;
}

/* ICON  */

li .fa-chevron-up {
  align-items: center;
  font-size: 10px;
  margin-left: 14px;
  display: flex;
}

li i {
  font-size: 20px;
}

/* HEADER */

.topbar {
  flex-basis: 100px;
  background-color: black;
}

.view-options {
  display: flex;
  justify-content: flex-end;
  color: white;
  margin: 5px 5px;
  font-size: 12px;
}

/* MAIN */

main {
}

.container {
  flex-grow: 1;
  width: 1400px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow-y: scroll;
}

.card {
  /* display: flex; */
  width: 192px;
  height: 110px;
  background-image: url("https://picsum.photos/300/200");
  position: relative;
  margin-right: 5px;
  margin-bottom: 10px;
}

.img-section {
  background-image: url("paper.gif");
}

.txt-section {
  display: inline-block;
  color: white;
  background-color: rgba(128, 128, 128, 0.5);
  padding: 3px 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 12px;
  font-weight: bold;
}

/* FOOTER */

.footer-bar {
  flex-basis: 130px;
  display: flex;
  align-items: center;
  background-color: #222;
}

.footer-bar > * {
  flex-basis: calc(100% / 3);
}

.footer-bar li {
  list-style-type: none;
  display: flex;
}

.footer-bar ul {
  display: flex;
}

.footer-bar a {
  text-decoration: none;
  color: white;
  font-size: 10px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15px;
  white-space: nowrap;
}

.footer-bar i {
  margin-bottom: 5px;
}

.end-call {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.end {
  background-color: #4a4a4a;
  color: red;
  display: flex;
  align-items: center;
  font-size: 10px;
  padding: 0 20px;
  font-weight: bold;
}
