/* GLOBAL */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  flex-direction: column;
  display: flex;
  height: 100vh;
}

/* STYLE */

.btn {
  background-color: #4a4a4a;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 5px;
}

/* HEADER */

.topbar {
  flex-basis: 60px;
  background-color: black;
}

.view-options {
  display: flex;
  justify-content: flex-end;
  color: white;
  margin: 5px 5px;
}

/* MAIN */

main {
  flex-grow: 1;
}

.container {
  width: 1400px;
  margin: 0 auto;
  background-color: blueviolet;
  height: 400px;
}

.card {
  /* display: flex; */
  width: 230px;
  height: 130px;
  background-image: url("https://picsum.photos/300/200");
  position: relative;
}

.img-section {
  background-image: url("paper.gif");
}

.txt-section {
  display: inline-block;
  color: white;
  background-color: rgba(128, 128, 128, 0.5);
  padding: 3px 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 12px;
  font-weight: bold;
}

/* FOOTER */

footer {
  flex-basis: 80px;
  background-color: #222;
}
