/* GLOBAL */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  flex-direction: column;
  display: flex;
  height: 100vh;
}

body {
  background-color: black;
}

/* STYLE */

.btn {
  background-color: #4a4a4a;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 5px;
}

/* HEADER */

.topbar {
  flex-basis: 100px;
  background-color: black;
}

.view-options {
  display: flex;
  justify-content: flex-end;
  color: white;
  margin: 5px 5px;
}

/* MAIN */

main {
}

.container {
  flex-grow: 1;
  width: 1400px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow-y: scroll;
}

.card {
  /* display: flex; */
  width: 192px;
  height: 110px;
  background-image: url("https://picsum.photos/300/200");
  position: relative;
  margin-right: 5px;
  margin-bottom: 10px;
}

.img-section {
  background-image: url("paper.gif");
}

.txt-section {
  display: inline-block;
  color: white;
  background-color: rgba(128, 128, 128, 0.5);
  padding: 3px 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 12px;
  font-weight: bold;
}

/* FOOTER */

footer {
  flex-basis: 120px;
  background-color: red;
}
